<footer class="footer">
    <a routerLink="/mapscreen" routerLinkActive="active" ariaCurrentWhenActive="page"
      class="footer-link">Asemat kartalla</a>
    <a routerLink="/biketrips" routerLinkActive="active" ariaCurrentWhenActive="page"
      class="footer-link">Pyörämatkat</a>
    <a href="https://citybikemvc.azurewebsites.net/" routerLinkActive="active" ariaCurrentWhenActive="page"
      class="footer-link">Hallintatyökalu</a>
    <a href="#" routerLinkActive="active" ariaCurrentWhenActive="page"
      class="footer-link">Lisätiedot</a>
  </footer>