footer{
    background-color: rgb(28 25 23);
    color: rgb(250 204 21);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 2%;
}

a:hover {
    color: rgb(175, 33, 236);
    text-decoration: solid;

}

