<footer class="">

    <a routerLink="/mapscreen" routerLinkActive="active" ariaCurrentWhenActive="page"
    class="bg-clip-text text-transparent bg-gradient-to-l from-fuchsia-500 to-violet-900 hover:from-pink-500 hover:to-yellow-400"
    >Asemat kartalla</a>

    <a routerLink="/biketrips" routerLinkActive="active" ariaCurrentWhenActive="page"
    class="bg-clip-text text-transparent bg-gradient-to-l from-fuchsia-500 to-violet-900 hover:from-pink-500 hover:to-yellow-400"
    >Pyörämatkat</a>

    <a href="https://citybikemvc.azurewebsites.net/" routerLinkActive="active" ariaCurrentWhenActive="page"
    class="bg-clip-text text-transparent bg-gradient-to-l from-fuchsia-500 to-violet-900 hover:from-pink-500 hover:to-yellow-400"
    >Hallintatyökalu</a>
</footer>