footer {
    background-color: rgb(0, 0, 0);
    font-size: 0.8rem;
    font-weight: 700;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  footer a {
    margin-left: 1.5%;
    text-decoration: none;
    color: #fff;
  }

    footer a:hover {    
    color: #cecece;
    }
  
  .footer-link {
    background-clip: text;
    transition: background 0.3s ease;
  }
  
  .footer-link:hover {
    background-clip: text;
  }
  
  /* Tablet CSS rules */
  @media only screen and (max-width: 768px) {
    footer {
      flex-direction: column;
      height: auto;
    }
  
    footer a {
      font-size: 0.8rem;
      font-weight: 800;
      margin-top: 0.5%;
    }
  }