.stations-list {
    margin: 20px;
    color: rgb(8, 201, 222);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    cursor: pointer;
  }

  a:hover {
    color: rgb(25, 212, 0);
  }

  .nav-item {
    color: rgb(4, 145, 161);
    margin-left: 30px;
  }

  input {
   
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(8, 201, 222);
    background-color: transparent;
  }
  
  

  
  @media (max-width: 768px) {
    th {
      font-size: 14px;
    }
    td {
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    th {
      font-size: 12px;
    }
    td {
      font-size: 10px;
    }

  }