<div class="nav-item">
  Etsi ja lajittele <fa-icon [icon]="MagnifyingGlass"></fa-icon>
  <br>
  <input type="text" class="searchTerm" placeholder="Kirjoita hakusana.." [(ngModel)]="term" />
</div>

<div class="stations-list">
  <table>
    <thead>
      <tr>
        <th (click)="sortStations('nimi')">
          Nimi <fa-icon [icon]="faSort"></fa-icon>
        </th>
        <th (click)="sortStations('kaupunki')">
          Kaupunki <fa-icon [icon]="faSort"></fa-icon>
        </th>
        <th (click)="sortStations('kapasiteet')">
          Kapasiteet <fa-icon [icon]="faSort"></fa-icon>
        </th>
        <th (click)="sortStations('palautetut')">
          Palautetut <fa-icon [icon]="faSort"></fa-icon>
        </th>
        <th (click)="sortStations('lahdetyt')">
          Lähteneet <fa-icon [icon]="faSort"></fa-icon>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let station of filteredStations">
        <td><a [routerLink]="['/station-details', station.id]">{{ station.nimi }}</a></td>
        <td>{{ station.kaupunki }}</td>
        <td>{{ station.kapasiteet }}</td>
        <td>{{ station.palautetut }}</td>
        <td>{{ station.lahdetyt }}</td>
      </tr>
    </tbody>
  </table>
</div>