.stations-list {
    margin: 20px;
    color: rgb(8, 201, 222);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    cursor: pointer;
  }

  a:hover {
    color: rgb(25, 212, 0);
  }

  .nav-item {
    color: rgb(4, 145, 161);
    margin-left: 30px;
  }

  input {
   
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(8, 201, 222);
    background-color: transparent;
  }
  
  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .city-button {
    border: 1px solid rgb(8, 201, 222);
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background 0.3s, color 0.3s;
  }

  .city-button.selected {
    background-color: #aa04ad;
    color: white;
    border: #ffffff 1px solid;
  }
  
  .city-button fa-icon {
    margin-left: 10px;
  }
  
  .city-button:hover {
    background-color: #1FFF8F;
    color: #000c1d;
  }
  

  
  @media (max-width: 768px) {
    th {
      font-size: 14px;
    }
    td {
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    th {
      font-size: 12px;
    }
    td {
      font-size: 10px;
    }

  }