<nav class="navi bg-stone-900 flex">
    
    <a routerLink="/mainpage" class="bg-clip-text text-transparent bg-gradient-to-r from-teal-600 to-violet-900 hover:from-emerald-600 hover:to-yellow-400">Citybike App</a>
    
    
    <a routerLink="/mapscreen" 
    class="bg-clip-text text-transparent bg-gradient-to-r from-fuchsia-600 to-violet-900 hover:from-pink-500 hover:to-yellow-400"
    >Asemat kartalla</a>
    <a routerLink="/biketrips"
    class="bg-clip-text text-transparent bg-gradient-to-r from-fuchsia-600 to-violet-900 hover:from-pink-500 hover:to-yellow-400"
    >Pyörämatkat</a>
    <a href=""
    class="bg-clip-text text-transparent bg-gradient-to-r from-fuchsia-600 to-teal-800 hover:from-pink-500 hover:to-yellow-400"
    >Hallintatyökalu</a>
   
</nav>