body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
}

.colorbar {
  height: 6px;
}

.header-wrapper {
  position: relative;
  background-image: url('../../assets/images/IMG_3191.WEBP');
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-wrapper h2 {
  margin: 0;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
}

.header-wrapper fa-icon {
  margin-left: 10px;
}

.main {
  display: flex;
  flex-direction: row;
  padding: 2%;
  gap: 2%;
  background-color: var(--background-color);
  color: var(--text-color);
}

.light-text {
  color: wheat;
}

.hakupalkki {
  width: 20%;
  padding: 2%;
  height: fit-content;
}

.nav-item {
  color: wheat;
  margin-left: 7%;
}

input {
  color: #1B1917;
  width: 90%;
  padding: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 3%;
  border: 3px solid #000;
  border-radius: 4px;
}

.searchTerm {
  height: 50px;
  margin-bottom: 4px;
  border-radius: 1px;
  color: black;
}

.hakunapit {
  margin-left: 7%;
}

.nappi-sort {
  width: 90%;
  height: 45px;
  margin-bottom: 0.4%;
  border-radius: 2px;
  color: #e6e6e6;
  border: peru 1px solid;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  cursor: pointer;
}

.nappi-sort:hover {
  background: #0a0044;
  color: #ffffff;
}

.lista {
  width: 80%;
  padding: 2%;
}

.tripcard {
  border: 1px solid peru;
  margin: 0.5%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s, color 0.3s;
  color: wheat;
}

.tripcard:hover {
  color: rgb(247, 245, 242);
  background-color: rgb(49, 45, 42);
}

.keskinopeus {
  margin-left: 3%;
}

.nopeus {
  font-size: 1.8rem;
  padding: 1.5%;
  border-radius: 10px 10px 10px 10px;
}

.alle15 {
  padding: 2%;
  background: linear-gradient(to left, #1C1917 50%, #c86e01 100%);
}

.yli15 {
  padding: 2%;
  background: linear-gradient(to right, #097830 52%, #1B1917 87%);
}

@media only screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .hakupalkki {
    width: 100%;
    margin: 1%;
  }

  .pagenappulat {
    font-size: 0.8rem;
  }

  .nav-item, .hakunapit {
    text-align: center;
    margin: 1%;
    font-size: 1rem;
  }

  .lista {
    width: auto;
    margin: 1%;
  }

  .tripcard {
    padding: 10px;
    font-size: 1rem;
  }

  .nopeus {
    font-size: 1.2rem;
  }

  input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
  }

  .nappi-sort {
    width: 100%;
    font-size: 1rem;
  }
}