<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modern Layout</title>

</head>
<body>
  <article class="colorbar"></article>

  <section class="main">
    <aside class="hakupalkki">
      <div class="nav-item">
        Etsi ja lajittele <i class="fas fa-search"></i>
        <input type="text" class="searchTerm" placeholder="Kirjoita hakusana.." [(ngModel)]="term" />
      </div>

      <div class="hakunapit">
        <button (click)="sortA(false)" class="nappi nappi-top bg-gradient-to-r from-teal-200 to-green-800 hover:from-emerald-700 hover:to-emerald-400">Pisin matka</button>
        <button (click)="sortA(true)" class="nappi nappi-middle bg-gradient-to-r from-teal-200 to-green-800 hover:from-emerald-700 hover:to-emerald-400">Lyhyin matka</button>
        <button (click)="sortB(false)" class="nappi nappi-middle bg-gradient-to-r from-teal-200 to-green-800 hover:from-emerald-700 hover:to-emerald-400">Pisin aika</button>
        <button (click)="sortB(true)" class="nappi nappi-bottom bg-gradient-to-r from-teal-200 to-green-800 hover:from-emerald-700 hover:to-emerald-400">Lyhyin aika</button>
      </div>
    </aside>

    <article class="lista">
      <section *ngFor="let trip of citybiketripsmay2021 | filter:term" class="tripcard justify-between">
        <article>
          Lähtöaika ja paikka: {{trip?.departure | date:'MMM d, y (HH:mm)'}} : {{trip?.departure_station_name}}<br />
          Palautusaika ja paikka: {{trip?.return | date:'MMM d, y (HH:mm)'}} : {{trip?.return_station_name}}<br />
          Matkan pituus: {{ (trip?.covered_distance_m / 1000) | number : '1.1-2'}}km Matkan kesto: {{ (trip?.duration_sec / 60) | number : '1.0-0'}}min {{ (trip?.duration_sec % 60) }}sec<br />
        </article>

        <aside class="keskinopeus">
          Keskinopeus (km/h)<br />
          <span *ngIf="(trip?.covered_distance_m/1000) / (trip?.duration_sec / 3600) > 15" class="nopeus yli15">{{(trip?.covered_distance_m/1000) / (trip?.duration_sec / 3600) | number : '1.1-2'}}</span>
          <span *ngIf="(trip?.covered_distance_m/1000) / (trip?.duration_sec / 3600) < 15" class="nopeus alle15">{{(trip?.covered_distance_m/1000) / (trip?.duration_sec / 3600) | number : '1.1-2'}}</span>
        </aside>
      </section>

      <button (click)="loadMoreTrips()" class="show-more">Näytä lisää</button>
    </article>
  </section>

  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>