.main {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding-top: 2%;
}

.hakupalkki {
    width: 20%;
    color: rgb(28 25 23);
    margin-top: 2%;
}
.nav-item {
    color:#fde68a;
    margin-left: 7%;

}

/*Inputin säädöt*/
input {
    background-color: #fde68a;
    width: 90%;
    padding: 10px;
    box-shadow: 1px 2px;
    margin-top: 3%;
  }

  .searchTerm{
    height: 50px;
    margin-bottom: 4px;
    border-radius: 8px;
    color: rgb(28 25 23);

}

.lista {
    width: 80%;
    color: #fde68a;
    margin-right: 1%;
    margin-top: 2%;


}

.tripcard {
    border: #fde68a 1px solid;
    margin: 0.5%;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.keskinopeus {
    margin-left: 3%;
}

.nopeus {
    font-size: 2rem;
}

.alle15 {
    padding: 2%;
    background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0.5, #1C1917),
	color-stop(1, #C0AB09)
);
background-image: -o-linear-gradient(left, #1C1917 50%, #C0AB09 100%);
background-image: -moz-linear-gradient(left, #1C1917 50%, #C0AB09 100%);
background-image: -webkit-linear-gradient(left, #1C1917 50%, #C0AB09 100%);
background-image: -ms-linear-gradient(left, #1C1917 50%, #C0AB09 100%);
background-image: linear-gradient(to left, #1C1917 50%, #C0AB09 100%);
}

.yli15{
    padding: 2%;
    background-image: -webkit-gradient(
	linear,
	left top,
	right top,
	color-stop(0.52, #097830),
	color-stop(0.87, #1B1917)
);
background-image: -o-linear-gradient(right, #097830 52%, #1B1917 87%);
background-image: -moz-linear-gradient(right, #097830 52%, #1B1917 87%);
background-image: -webkit-linear-gradient(right, #097830 52%, #1B1917 87%);
background-image: -ms-linear-gradient(right, #097830 52%, #1B1917 87%);
background-image: linear-gradient(to right, #097830 52%, #1B1917 87%);
}