
.main {
    display: flex;
    flex-direction: row;
    height: 77vh;
}

.station {
    margin-left: 2%;
    margin-right: 2%;
    color: rgb(250 204 21);
    width: 40%;
    padding-top: 1%;
}

.colorbar {
    height: 6px;
    background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0, #8e61f7),
	color-stop(0.95, rgb(28 25 23))
);
background-image: -o-linear-gradient(right, #8e61f7 0%, rgb(28 25 23) 95%);
background-image: -moz-linear-gradient(right, #8e61f7 0%, rgb(28 25 23) 95%);
background-image: -webkit-linear-gradient(right, #8e61f7 0%, rgb(28 25 23) 95%);
background-image: -ms-linear-gradient(right, #8e61f7 0%, rgb(28 25 23) 95%);
background-image: linear-gradient(to right, #8e61f7 0%, rgb(28 25 23) 95%);
}

h1 {
    font-size: 2.2rem;
    font-weight: 600;
}

h4 {
    font-size: 1.6rem;
    font-weight: 500;
}

.nappula {
    margin-top: 1.2%;
}

.station-on-map {
    width: 60%;
    margin-right: 2%;
    color: rgb(250 204 21);
    padding-top: 1%;
}

.stationkuva {
border-radius: 10px 10px 10px 10px;
}

#map {
    width: 100%;
    height: 540px;
    border-radius: 10px 10px 10px 10px;

  }
/* Mobile CSS rules */ 
@media only screen and (max-width: 425px) 
{ 
.main {
    display: flex;
    flex-direction: column;
    height: auto;
}

.station, .station-on-map {
    width: 100%;
    margin: 1%;
}
h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

h4 {
    font-size: 1.3rem;
    font-weight: 500;
}
 }

 /* Tablet CSS rules */ 
 @media only screen and (min-width: 426px) and (max-width: 768px)  
 { 
    
    .main {
            height: auto;
    }

    h1 {
        font-size: 1.8rem;
        font-weight: 600;
    }
    
    h4 {
        font-size: 1.3rem;
        font-weight: 500;
    }
  }



  
