
.main {

}

.station {
    margin-left: 2%;
    color: rgb(250 204 21);
}

h1 {
    font-size: 2.2rem;
    font-weight: 600;
}

h4 {
    font-size: 1.6rem;
    font-weight: 500;
}

.nappula {
    margin-top: 1.2%;
}

