<article class="colorbar">
</article>

<section class="main font-mono bg-stone-900">

    <article class="station">
    <p *ngIf="stationdetail"></p>
    <h1>
    {{stationdetail.nimi}}
    </h1>
    <h4>
        {{stationdetail.osoite}}, {{stationdetail.kaupunki}}
    </h4>
   
    <h4>
        Kapasiteetti: {{stationdetail.kapasiteet}} kpl
    </h4>
    <h4>Matkan keskipituus: {{averageDistance/1000 | number}}km</h4>

    <br>
    <h4>Top 5 Palautusasemaa</h4>
    <div *ngFor="let returnStation of getTopReturnStations(stationdetail.nimi)">
       
        {{ returnStation }} 

    </div>


    <button (click)='onBack()' class="nappula relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Takaisin kartalle
        </span>
      </button>

    </article>

    <article class="station-on-map">
        <div id="map"></div>
        <p>Coordinates: {{ stationdetail.x }}, {{ stationdetail.y }}</p>
    </article>

   
</section>