.main {
    display: flex;
    flex-direction: row;
}

.colorbar {
    height: 6px;

}

.kartta {
    width: 80%;
    border: 1px solid black;
    margin: 0.5%;
}

.headlink {
    color:rgb(16, 20, 23);
}

#map {
    height: 600px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
    margin: 3px;
}

.asema-data {
    width: 20%;
    margin: 0.5%;
}

h4 {
    color: rgb(250 204 21);
    font-size: 1rem;
    font-weight: 600;
}

.top-asemat {
    padding: 0.4%;
    color: rgb(250 204 21);
    font-size: 0.8rem;
}

/* Mobile CSS rules */ 
@media only screen and (max-width: 425px) 
{ 
.main {
    display: flex;
    flex-direction: column;
}

.kartta, .asema-data {
    width: 100%;
    margin: 0.5%;
}

 }

