
<section class="main bg-stone-900 font-mono">
    <section class="kartta">
    <div id="map">
    </div>
    </section>
    <section class="asema-data">
        
       <h4>Top-10 Lähtöasemat <fa-icon [icon]="ArrowRightFromBracket"></fa-icon> </h4> 
          <div class="top-asemat" *ngFor="let station of getTopDepartureStations()">
            {{ station }} ({{ getDepartureStationCount(station) }})
          </div>
        
        <br>
        <h4>TOP-10 Palautusasemat <fa-icon [icon]="RotareLeft"></fa-icon> </h4>
        <div class="top-asemat" *ngFor="let station of getTopReturnStations()">
            {{station}} ({{ getReturnStationCount(station) }})
        </div>


    </section>
</section>
<!-- TEST QUERY TO DATABASE GET KEYVALUES -->
<!--
<div *ngFor="let x of stations | keyvalue">
    <div>{{x | json}}</div>
    Object Key {{x.key}} and value: {{x.value}}
</div>
-->
