.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: rgb(40, 13, 0);
}


.map-infowindow {
    color: black;
    font-family: Arial, sans-serif;
  }
  
  .map-infowindow-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .map-infowindow-content {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .map-infowindow a {
    color: blue;
    text-decoration: none;
  }
  
  .map-infowindow a:hover {
    text-decoration: underline;
  }

@media (min-width: 1024px) {
    .main {
        flex-direction: row;
        color: rgb(40, 13, 0);

    }
}

.colorbar {
    height: 6px;
}

.kartta {
    border: 1px solid black;
}

#map {
    width: 100%;
}

.asema-data {
    margin: 0.5%;
}

h5 {
    color: rgb(236, 72, 153); /* pink-500 */
    font-size: 1rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.top-asemat {
    padding: 0.4%;
    color: rgb(255, 147, 201); 
    font-size: 0.9rem;
}

@media only screen and (max-width: 425px) {
    .main {
        flex-direction: column;
        color: rgb(40, 13, 0);

    }

    .kartta, .asema-data {
        width: 100%;
        margin: 0.5%;
    }
}
