
<section class="main bg-stone-900 font-mono">
    <section class="kartta">
    <div id="map">
    </div>
    </section>

    <section class="asemat">
        (remember configure routing <br>from server! gives now 30 items..)
    <div *ngFor="let station of stations.data">{{station.nimi}}</div>
    </section>

</section>
<!-- TEST QUERY TO DATABASE GET KEYVALUES -->
<!--
<div *ngFor="let x of stations | keyvalue">
    <div>{{x | json}}</div>
    Object Key {{x.key}} and value: {{x.value}}
</div>
-->
